.profile {
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #bebebe;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 10px 13px 24px -3px rgba(28, 27, 27, 0.75);
  -webkit-box-shadow: 10px 13px 24px -3px rgba(28, 27, 27, 0.75);
  -moz-box-shadow: 10px 13px 24px -3px rgba(28, 27, 27, 0.75);
}
.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.new {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: aquamarine;
  border-radius: 0.5rem;
  padding: 0.5rem 0.2rem;
  font: bold;
  text-transform: uppercase;
}
